.changePassword{
 margin: 1.2vmax  auto;
 width: 14vw;
}

.changePassword > input {
    margin: auto;
    width: 18vmax;
    padding: 1.7vmax;
    padding-left: 2vmax; 
    border: 1px solid rgba(0, 0, 0, 0.171);
    font-size: 1.3vmax;

}

#topelement{
    margin-top: 10vmax;
}

#lastelement{
    margin-bottom: 15vmax;
}

.loginPassword >  input {
    margin: auto;
}

.iconspassword{
    position: relative;
     top: 3.7vmax;
    left: 0.5vmax;
    }

.CHANGEPASSWORD{
    text-align: center;
    padding-left: 2.7vmax;
    width: 15vmax;
}

.changebutton{
    margin: 1.2vmax  auto;
    width: 14vw;
}

.changebutton > input {
    margin: 1vmax auto;
    width: 22vmax;
    padding: 1.8vmax;
    background-color: tomato;
    color: aliceblue;
    cursor: pointer;
    border-radius: 1vmax;
    padding-left: 2vmax; 
    border: 1px solid rgba(0, 0, 0, 0.171);
    font-size: 1.3vmax;
    transition: 0.4s all;
}

.changebutton > input:hover{
    background-color: rgb(228, 75, 48);
}